/*
|----------------------------------------------
| setting up typo graphy for app
| @author: jahid haque <jahid.haque@yahoo.com>
| @copyright: 19dnorth, 2018
|----------------------------------------------
*/


.thin{font-weight: 100;}
.light{font-weight: 300;}
.regular{font-weight: 400;}

.big-hero-title{
	font-size: 45px;
}
.clrw {
	color: #fff;
}
.title{
	font-size: 14px;
}

.defaultclr{
	color: #4a4a4a;
}

